<nav class="navbar navbar-expand-lg fixed-top" id="menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!logeado" class="nav-item active">
        <a routerLink="/portada" [routerLinkActive]="['active']" class="navbar-brand" href="#">Login</a>
      </li>
      <li *ngIf="logeado" class="nav-item">
        <a routerLink="/inicio" [routerLinkActive]="['active']" class="navbar-brand" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/acercade" [routerLinkActive]="['active']" class="navbar-brand" href="#">About</a>
      </li>
    </ul>
  </div>
  <a *ngIf="logeado" href="javascript:void(0);" (click)="logout()"><span class="fa fa-user"></span> Logout</a>
</nav>
<div id="contenido">
  <router-outlet class="contenido"></router-outlet>
</div>