<h1>Nuevo Proyecto</h1>

<form #formProyecto = "ngForm" (ngSubmit) = "onSubmit()">
  <label>Nombre: </label>
  <p>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)] = "proyecto.nombre" required/>
    <span *ngIf = "!nombre.valid && nombre.touched">
      El nombre es obligatorio
    </span>
  </p>

  <label>Descripción: </label>
  <p>
    <textarea #descripcion="ngModel" name="descripcion" [(ngModel)] = "proyecto.descripcion" required></textarea>
    <span *ngIf = "!descripcion.valid && nombre.touched">
      La descripción es obligatoria
    </span>
  </p>

  <input type="submit" value = "Crear proyecto" [disabled] = "!formProyecto.form.valid" />

</form>
