<section id="proyectos" class="pb-5">
    <div class="container">
        <h1 class="text-center text-uppercase">Proyects</h1>
        <div class="row">
                
            <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card carta">
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid imagenAdd" src="../assets/images/add-button-hi.png" alt="card image"></p>
                                        <h4 class="card-title">New proyect</h4>
                                        <p class="card-text">Create a new proyect</p>
                                        <a class="btn btn-primary btn-sm" (click)="crearProyecto()"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            <!-- Proyectos-->
            <div *ngFor="let proyecto of proyectos" class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card carta">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid imagenProyecto" src="../assets/images/Directo.jpg" alt="card image"></p>
                                    <h4 class="card-title">{{proyecto.nombre}}</h4>
                                    <p class="card-text">{{proyecto.descripcion}}</p>
                                    <a [routerLink] ="['/proyecto', proyecto._id]"  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-danger btn-sm" mwlConfirmationPopover
                                        [popoverTitle]="popoverTitle"
                                        [popoverMessage]="popoverMessage"
                                        placement="right"
                                        (confirm)="onDeleteProyecto(proyecto._id)"
                                        (cancel)="cancelClicked = true">
                                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Proyectos -->

        </div>
    </div>
</section>
