.detalles, .grafico {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.grafico {
    border: 2px solid #4c4c4c;
    height:600px;
    width: 56%;
}

.detalles {
    width: 36%;
}

.botonIteraciones {
    margin-left: 2%;
}

.titulo {
    border-left: 5px;
    border-right: 5px;
    border-radius: 2%;
    padding: 5px;
    background-color: rgb(240, 232, 232);
    margin-bottom: 5px;
}

.boton {
    float: right;
}